body  {
    margin:0;
    padding: 0;
}

/* header styles */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbefdf;
    padding:0 20px;
    position: sticky;
    top: 0;
}
.logo {
    font-size: 1.8rem;
    color: #462e25;
}
.logo p {
    padding: 0;
    margin: 0;
    font-weight: bold;
}
span   {
    color: #8d6852;
}
nav {
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;
}
nav li {
    display:  inline-block;
    padding: 10px;
    border-radius: 5px;
}
nav li:hover {
    background-color: #b2b2b2;
}

nav li a {
    color: #060608;
    text-decoration: none;
}

/* main styles */
main   {
    font-family: 'Poppins', sans-serif;
}

/* mission styles */
.mission    {
    min-height: 400px;
    display: flex;
    align-items: center;
    background-image: url('images/mission-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.missionh {
    background-color: #fbefdf;
    text-align: center;
    width: 100%; 
}
.missionh h1  {
    font-size: 1.8rem;
    font-family: 'Roboto' , sans-serif;
    color: #462e25;
}
.missionh p {
    padding:  10px;
}